[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pytest-cov = "==3.0.0"
prospector = "==1.7.7"
astroid = "==2.11.5"
# For astroid on python < 3.10
typing-extensions = "==4.2.0"
setuptools = "==62.2.0"

[requires]

[pipenv]
allow_prereleases = true
