services:
  api:
    image: camptocamp/shared_config_manager:latest
    environment: &scm_env
      C2C__AUTH__GITHUB__CLIENT_ID: an-id
      C2C__AUTH__GITHUB__CLIENT_SECRET: a-secret
      C2C__AUTH__GITHUB__REPOSITORY: camptocamp/shared_config_manager
      C2C__AUTH__JWT__SECRET: a-secret-long-a-secret
      C2C__REDIS__URL: redis://redis:6379/1
      SCM__SECRET: changeme
      SCM__GITHUB_SECRET: changeme
      SCM__MASTER_CONFIG: |
        type: git
        repo: /repos/master
      SCM__API_BASE_URL: http://api:8080/scm
      SCM__TARGET: /config/api
      SCM__ENV_PREFIXES: TEST_
      TEST_ENV: 42
      TEST_KEY: secret
      SCM__HTTP: 'true'
    volumes_from:
      - tests:rw
    links:
      - redis
    hostname: api

  api_test_user:
    image: camptocamp/shared_config_manager:latest
    environment:
      <<: *scm_env
      C2C__AUTH__TEST__USERNAME: Test
    volumes_from:
      - tests:rw
    links:
      - redis
    hostname: api_test_user

  api_inline:
    image: camptocamp/shared_config_manager:latest
    environment:
      <<: *scm_env
      SCM__MASTER_CONFIG: |
        sources:
          test_git:
            type: git
            repo: /repos/test_git
            tags: ['test']
            template_engines:
              - type: shell
                environment_variables: true
      SCM__API_BASE_URL: http://api_inline:8080/scm
      SCM__TARGET: /config/api-inline
      C2C__REDIS__URL: redis://redis:6379/2
      C2C_BROADCAST_PREFIX: broadcast_scm_inline_
    volumes_from:
      - tests:rw
    links:
      - redis
    hostname: api_inline

  api_file:
    image: camptocamp/shared_config_manager:latest
    environment: &scm_file_env
      <<: *scm_env
      SCM__MASTER_CONFIG: ''
      SCM__API_BASE_URL: http://api_file:8080/scm
      SCM__TARGET: /config/api-file
      C2C__REDIS__URL: redis://redis:6379/3
      C2C_BROADCAST_PREFIX: broadcast_scm_file_
    volumes_from:
      - tests:rw
    links:
      - redis
    hostname: api_file

  slave:
    image: camptocamp/shared_config_manager:latest
    environment:
      <<: *scm_env
      SCM__TARGET: /config/slave
    command: ['shared-config-slave']
    volumes_from:
      - tests:rw
    links:
      - redis
    hostname: slave

  slave-others:
    image: camptocamp/shared_config_manager:latest
    environment:
      <<: *scm_env
      SCM__TAG_FILTER: others
      SCM__TARGET: /config/slave-other
      TEST_ENV: 42
    command: ['shared-config-slave']
    volumes_from:
      - tests:rw
    links:
      - redis
    hostname: slave-others

  slave-file:
    image: camptocamp/shared_config_manager:latest
    environment:
      <<: *scm_file_env
      SCM__TARGET: /config/slave-file
    command: ['shared-config-slave']
    volumes_from:
      - tests:rw
    links:
      - redis
    hostname: slave-file

  redis:
    image: redis:8.4.0
    mem_limit: 64m
    command: redis-server --save "" --appendonly no

  tests:
    image: camptocamp/shared_config_manager-acceptance:latest
    command: sleep infinity
    volumes:
      - ./acceptance_tests/results:/results
      - ./acceptance_tests/acceptance:/acceptance_tests/acceptance
