<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', path='favicon-32x32.png') }}"
      referrerpolicy="no-referrer"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', path='favicon-16x16.png') }}"
      referrerpolicy="no-referrer"
    />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css"
        integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <style nonce="{{ nonce }}">
      body { padding-bottom: 1rem; }
      .login-info { text-align: right; }
    </style>
    <title>Shared config manager</title>
  </head>
  <body>
    <script nonce="{{ nonce }}">
      (() => {
        'use strict'
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.documentElement.setAttribute('data-bs-theme', 'dark');
        }
      })()
    </script>
    <div class="container-fluid">
      <h1>Shared config manager</h1>

      <p class="login-info">
      {% if identity is not none %}
      Logged as: <a href="{{ identity.url }}">{{ identity.name }}</a>{% if identity.auth_type == "github_oauth" %},
      <a role="button" class="btn btn-secondary mt-4"
      href="{{ url_for('c2c_github_logout') }}?came_from={{ request.url | urlencode }}" style="vertical-align: baseline;">Logout</a>
      {% endif %}
      {% else %}
      <a class="btn btn-primary"
      href="{{ url_for('c2c_github_login') }}?came_from={{ request.url | urlencode }}">Login with GitHub</a>
      {% endif %}
      </p>

      {% if valid_sources %}
      <h3>Sources</h3>
      <ul class="list-group">
        {% for valid, source in valid_sources %}
        <li class="list-group-item">
          {% if valid %}
          <span class="badge bg-success">✓</span>
          {% else %}
          <span class="badge bg-danger">✗</span>
          {% endif %}
          <a href="{{ url_for('ui_source', source_id=source.get_id()) }}"
            >{{ source.get_config().get("name", source.get_id()) }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </body>
</html>
