[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "==3.0.0"
prospector = {extras = ["with_mypy", "with_bandit"],version = "==1.5.1"}
types-pyyaml = "==6.0.1"
types-requests = "==2.26.0"

[packages]
PyYAML = "==6.0"
inotify = "==0.2.10"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
