[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
PyYAML = "==5.4.1"
setuptools = "==65.5.1"

[dev-packages]
pytest-cov = "==2.11.1"
prospector = {extras = ["with_mypy", "with_bandit", "with_pyroma"],version = "==1.3.1"}
mypy = "==0.812"
flake8 = "==3.8.4"
# Lock dependencies
attrs = "==20.3.0"
bandit = "==1.7.4"
coverage = "==5.6b1"
docutils = "==0.17.1"
dodgy = "==0.2.1"
flake8-polyfill = "==1.0.2"
gitdb = "==4.0.9"
gitpython = "==3.1.29"
iniconfig = "==1.1.1"
isort = "==4.3.21"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
mypy-extensions = "==0.4.3"
packaging = "==20.9"
pbr = "==5.5.1"
pep8-naming = "==0.10.0"
pluggy = "==1.0.0"
py = "==1.10.0"
pycodestyle = "==2.6.0"
pydocstyle = "==6.0.0"
pyflakes = "==2.2.0"
pygments = "==2.8.1"
pylint = "==2.5.3"
pylint-celery = "==0.3"
pylint-django = "==2.1.0"
pylint-flask = "==0.6"
pylint-plugin-utils = "==0.6"
pyparsing = "==3.0.9"
pyroma = "==3.1"
pytest = "==6.2.5"
pyyaml = "==5.4.1"
requirements-detector = "==0.7"
six = "==1.15.0"
smmap = "==4.0.0"
snowballstemmer = "==2.1.0"
stevedore = "==3.3.3"
toml = "==0.10.2"
typed-ast = "==1.4.3"
typing-extensions = "==3.7.4.3"
wrapt = "==1.12.1"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
