[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "==2.12.1"
prospector = {extras = ["with_mypy", "with_bandit", "with_pyroma"],version = "==1.5.1"}
types-pyyaml = "==5.4.10"
types-requests = "==2.25.8"

[packages]
PyYAML = "==5.4"
inotify = "==0.2.10"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
