c2cciutils[checks,publish]==1.7.5
pre-commit==4.5.1
poetry-dynamic-versioning==1.7.1
poetry-plugin-tweak-dependencies-version==1.5.5
poetry-plugin-drop-python-upper-constraint==0.1.0
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=46.0.5 # not directly required, pinned by Snyk to avoid a vulnerability
